.footer-section {
  background-color: var(--navy-blue-color);
  color: var(--cloud-color);
  padding: 100px 0;
}

.footer-container {
  display: flex;
  align-items: flex-start;
  gap: 120px;
}

.footer-logo {
  color: var(--cloud-color);
  display: inline-block;
  margin-bottom: 16px;
}

.footer-text {
  max-width: 264px;
}

.footer-socials-title {
  margin-bottom: 16px;
}

.footer-social-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin-top: 8px;
}

.footer-social-link {
  border-radius: 40px;
  width: 40px;
  height: 40px;
  background-color: var(--iris-color);
  color: var(--cloud-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-social-link:hover {
  background-color: var(--ocean-color);
}
